
*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  -webkit-app-region: drag;
}

/*
  • \2022
  Ξ \039e
  › \203A
  ↳ \21B3
  ⊦ \2228
  〉\232A
  □ \25A1
  ○ \25CB

  •
    -
      ↳
        ›


*/

/* Default */
.ql-editor ul > li::before,
.ql-editor ul li:before {
  content: '\2022 ' !important;
}

/* First indent */
.ql-editor ul li.ql-indent-1:before {
  content: '- ' !important;
}

/* Second indent */
.ql-editor ul li.ql-indent-2:before {
  content: '\21B3 ' !important;
}

/* Third indent */
.ql-editor ul li.ql-indent-3:before {
  content: '\203A ' !important;
}



input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea,
.editor {
	-webkit-app-region: no-drag;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', sans-serif;
  background: #ffffff;
  color: #495057;

  min-height: 100vh;
  min-width: 100%;

  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar editor";
}

aside {
  grid-area: sidebar;
  background-color: #495057;
  color: #f8f9fa;

  padding: 30px;
}

main {
  grid-area: editor;
}

.toolbar {

}
