
*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  -webkit-app-region: drag;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea,
.ql-editor {
	-webkit-app-region: no-drag;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', sans-serif !important;
  background: #ffffff;
  color: #495057;

  min-height: 100vh;
  min-width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

aside {
  background-color: #495057;
  color: #ffffff;
  display: block;
  width: 225px;
  max-width: 225px;
  min-width: 225px;
  max-height: 100vh;

  overflow: auto;
}

.sidebar {
  padding: 40px 30px;
  line-height: 2em;
  font-size: 12px;
}

.sidebar ol {
  list-style-type: none;
}

.sidebar ol li ol {
  margin-left: 10px;
}

.file, .folder {
  padding-left: 10px;
  border-radius: 5px;
}

.project span {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 3px;
}

.sidebar i {
  padding-right:5px;
}

.file:hover {
  background-color: #343a40;
}






main {
  flex-grow: 2;
  max-height: 100vh;
  overflow: auto;
}

.ql-editor {
  max-width: 750px;
  margin: 0 auto;
  padding: 50px !important;
}

.ql-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', sans-serif !important;
  border: none !important;
}

.ql-toolbar {
  display: none;
}

/*
  • \2022
  Ξ \039e
  › \203A
  ↳ \21B3
  ⊦ \2228
  〉\232A
  □ \25A1
  ○ \25CB
*/

.ql-editor ul > li::before,
.ql-editor ul li:before {
  content: '\2022 ' !important; /* • */
}

.ql-editor ul li.ql-indent-1:before {
  content: '- ' !important; /* - */
}

.ql-editor ul li.ql-indent-2:before {
  content: '\21B3 ' !important; /* ↳ */
}

.ql-editor ul li.ql-indent-3:before {
  content: '\203A ' !important; /* ○ */
}

.ql-editor ul li.ql-indent-4:before {
  content: '\25A1 ' !important; /* □ */
}
