
*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  -webkit-app-region: drag;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea,
.editor {
	-webkit-app-region: no-drag;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', sans-serif;
  background: #ffffff;
  color: #495057;

  min-height: 100vh;
  min-width: 100%;

  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar editor";
}

aside {
  grid-area: sidebar;
  background-color: #495057;
  color: #f8f9fa;

  padding: 30px;
}

main {
  grid-area: editor;
}

.toolbar {

}
