:root {
  --lighter-blue: #80d8ff;
  --light-blue: #90caf9;
  --blue: #00b0ff;
  --lightest-gray: #f9f9f9;
  --lighter-gray: #f0f0f0;
  --light-gray: #e0e0e0;
  --gray: #d2d2d3;
  --box-shadow-default:
    0 0 30px 0 rgba(0, 0, 0, 0.08),
    0 1px 18px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-hover:
    0 0 110px 0 rgba(0, 0, 0, 0.08),
    0 10px 25px 0 rgba(0, 0, 0, 0.05);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #fff;
  -webkit-app-region: drag;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.close {
  z-index: 11;
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  position: absolute;
  top: 8px;
  left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms, color 200ms;
}

.close:hover {
  color: #fff;
  background-color: var(--blue);
  transition: background-color 200ms, color 200ms;
}

main {
  height: 100vh;
  flex-grow: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  -webkit-app-region: no-drag;
}

.title > h1 {
  padding: 0;
  margin: 0;
  display: inline;
}

.badge {
  margin-left: 10px;
  position: relative;
  top: 3px;
  border-radius: 3px;
  background-color: var(--blue);
  color: #fff;
  font-weight: bold;
  padding: 5px;
  font-size: 10px;
}

.links {
  flex-grow: 1;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  -webkit-app-region: no-drag;
}

.link {
  cursor: pointer;
  transform: translateY(0);
  flex-grow: 1;
  margin: 10px 0;
  border-radius: 8px;
  padding: 20px;
  color: #fff;
  background-image: linear-gradient(to bottom right, var(--blue), var(--light-blue));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: var(--box-shadow-default);
  transition: transform 200ms, box-shadow 200ms;
}

.link > h2 {
  font-size: 22px;
  margin: 0;
}

.link > p {
  font-size: 14px;
}

.link:hover {
  box-shadow: var(--box-shadow-hover);
  transform: translateY(-2px);
  transition: transform 200ms, box-shadow 200ms;
}

.sidebar {
  border-left: 1px solid var(--light-gray);
  background-color: var(--lightest-gray);
  height: 100vh;
  flex-basis: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

aside {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  -webkit-app-region: no-drag;
}

.list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.list-item {
  cursor: default;
  user-select: none;
  flex-basis: 50px;
  padding: 10px 15px;
}

.list-item.active {
  color: #fff;
  background: var(--blue);
  font-weight: bold;
}

.list-item.active > .path {
  color: var(--lighter-blue);
}

.list-item > .name {
  font-size: 12px;
  margin-bottom: 2px;
}

.list-item > .path {
  font-size: 10px;
  color: var(--gray);
}

.no-recent {
  user-select: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray);
  font-size: 12px;
}

footer {
  cursor: pointer;
  border-top: 1px solid var(--lighter-gray);
  font-size: 12px;
  padding: 10px;
  flex-basis: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
