@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-Regular.ttf") format('truetype'),
       url("../fonts/Inter-UI-Bold.ttf") format('truetype'),
       url("../fonts/Inter-UI-Italic.ttf") format('truetype'),
       url("../fonts/Inter-UI-Black.ttf") format('truetype'),
       url("../fonts/Inter-UI-BlackItalic.ttf") format('truetype'),
       url("../fonts/Inter-UI-Medium.ttf") format('truetype'),
       url("../fonts/Inter-UI-MediumItalic.ttf") format('truetype');
}

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(20, 23, 26);
  --gray-1: rgb(248, 249, 250);
  --gray-2: rgb(222, 226, 230);
  --gray-3: rgb(173, 181, 189);
  --gray-4: rgb(134, 142, 150);
  --dark-text: rgb(73, 80, 87);

  --fg: var(--black);
  --bg: var(--white);

  background-color: #161616;
}

* {
  background-color: inherit;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-app-region: drag;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea,
.ql-editor,
.sidebar ol,
.handler {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: var(--fg);
  color: var(--bg);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--bg);
  color: var(--fg);
  font-size: 12px;
  min-height: 100vh;
  min-width: 100%;
  transition: filter 400ms;
}

body.dark {
  filter: invert(100%);
  transition: filter 400ms;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100%;
}

aside {
  color: var(--gray-4);
  width: 200px;
  max-width: 500px;
  min-width: 100px;
  max-height: 100vh;
  user-select: none;
  overflow: auto;
}

aside.hide {
  display: none;
}

.sidebar {
  padding: 50px 5px 50px 20px;
  line-height: 2.5em;
  font-size: 12px;
}

.sidebar ol {
  list-style-type: none;
}

.name span {
  padding-left: 2px;
}

.selected {
  background-color: var(--gray-2);
}

.active {
  color: var(--dark-text);
}

.handler {
  width: 5px;
  padding: 0;
  cursor: ew-resize;
  flex: 0 0 auto;
}

.handler::before {
  content: '';
  display: block;
  width: 1px;
  height: 100vh;
  background: var(--gray-1);
  margin: 0 auto;
}

main {
  position: relative;
  flex-grow: 2;
  max-height: calc(100vh - 20px);
  max-width: 100vw;
  margin: 50px 50px 0 50px;
  padding-bottom: 40px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.footer {
  font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
  user-select: none;
  -webkit-app-region: drag;
  color: var(--gray-3);
  line-height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 15px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer > div {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cursor-stats {
  justify-content: flex-start;
}

.file-stats {
  justify-content: center;
}

.file-name {
  justify-content: flex-end;
}

.selection {
  color: var(--dark-text);
}

.unsaved {
  text-decoration: underline;
}

.ql-container {
  font-family: 'InterUI', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  border: none !important;
}

.ql-toolbar,
.ql-tooltip {
  display: none;
}

.ql-editor {
  padding-bottom: 0;
  font-weight: 300;
  tab-size: 2;
}

.ql-editor blockquote {
  border-left: 4px solid var(--gray-2) !important;
}

.ql-editor pre {
  font-size: 12px;
  font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
}

.ql-snow .ql-editor pre.ql-syntax {
  background-color: var(--gray-2);
  color: var(--dark-text);
}

.ql-editor ul,
.ql-editor ol {
  padding-left: 0;
}

.ql-editor ul > li::before,
.ql-editor ul li::before {
  content: '\2022 ' !important; /* • */
}

.ql-editor ul li.ql-indent-1::before {
  content: '- ' !important; /* - */
}

.ql-editor ul li.ql-indent-2::before {
  content: '\21B3 ' !important; /* ↳ */
}

.ql-editor ul li.ql-indent-3::before {
  content: '\203A ' !important; /* ○ */
}

.ql-editor ul li.ql-indent-4::before {
  content: '\25A1 ' !important; /* □ */
}
