:root {
  --font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-stack-mono: "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
  --text: rgb(20, 23, 26);
  --bg: rgb(255, 255, 255);
  --bright-text: rgb(73, 80, 87);
  --accent: #42a5f5;
  --error: #e53935;
  --separator: #ddd;
  --aside-text: var(--bright-text);
  --aside-bg: #fbfbfb;
  --aside-active-bg: var(--accent);
  --aside-active-text: var(--bg);
  --aside-selected-bg: rgb(222, 226, 230);
  --highlight-text: var(--bg);
  --highlight-bg: var(--accent);
  --footer-text: rgb(173, 181, 189);
  --input-border: rgb(222, 226, 230);
  --editor-bg: var(--bg);
  --editor-text: var(--text);

  background-color: var(--text);
}

.dark {
  --text: #fff;
  --bg: #1e1e1e;
  --bright-text: rgb(173, 181, 189);
  --accent: #f9aa33;
  --error: #e53935;
  --separator: #2d2d2d;
  --aside-text: var(--bright-text);
  --aside-bg: #141414;
  --aside-active-bg: var(--accent);
  --aside-active-text: var(--bg);
  --aside-selected-bg: #474747;
  --highlight-text: var(--text);
  --highlight-bg: var(--accent);
  --footer-text: #888;
  --input-border: #444;
  --editor-bg: var(--fg);
  --editor-text: var(--text);
}

* {
  background-color: inherit;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-app-region: drag;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea,
.ql-editor,
.sidebar ol,
.handler {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: var(--highlight-bg);
  color: var(--highlight-text);
}

body {
  font-family: var(--font-stack);
  background-color: var(--bg);
  color: var(--text);
  font-size: 12px;
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden;
  transition: color 400ms, background-color 400ms, border 400ms;
}

body.dark {
  transition: color 400ms, background-color 400ms, border 400ms;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
  max-height: 100vh;
  transition: transform 200ms;
}

.wrapper.slide {
  transform: translateX(-215px);
  width: calc(100vw + 215px);
  transition: transform 200ms;
}

aside {
  color: var(--aside-text);
  background-color: var(--aside-bg);
  flex-basis: 215px;
  min-width: 215px;
  max-width: 500px;
  user-select: none;
  border-right: 1px solid var(--separator);
  padding-top: 30px;
  transition: color 400ms, background-color 400ms, border 400ms;
}

.sidebar {
  padding: 10px;
  line-height: 2.5em;
  font-size: 12px;
  overflow: auto;
  -webkit-app-region: no-drag;
}

.sidebar ol {
  list-style-type: none;
}

.name span {
  padding-left: 2px;
}

.selected {
  background-color: var(--aside-selected-bg);
}

.active {
  color: var(--aside-active-text);
  background-color: var(--aside-active-bg);
}

.highlight {
  color: var(--bg);
  background-color: var(--highlight-bg);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  animation: highlight 200ms;
}

main {
  position: relative;
  flex-basis: 100%;
  max-height: calc(100vh - 20px);
  margin: 30px 50px 0 50px;
  padding-bottom: 40px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

footer {
  font-family: var(--font-stack-mono);
  user-select: none;
  -webkit-app-region: drag;
  color: var(--footer-text);
  line-height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 15px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stats {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.find,
.goto {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 200ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.find.show,
.goto.show {
  transform: translateY(0);
  transition: transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.find-form,
.goto-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.find-submit {
  display: none;
}

.find-stats {
  height: 100%;
  flex-basis: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.find-input,
.find-replace-input,
.goto-input {
  margin: 0 10px;
  width: 100%;
  color: var(--footer-text);
  font-family: var(--font-stack-mono);
  border: none;
  border-bottom: 1px solid var(--input-border);
  outline: none;
  transition: color 200ms;
}

.find-input.error,
.goto-input.error {
  animation: shake 1s linear;
  color: var(--error);
  transition: color 200ms;
}

.find-replace {
  display: none;
}

.find-replace.show {
  display: flex;
}

.stats > div {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cursor-stats {
  justify-content: flex-start;
}

.selection {
  margin-left: 10px;
  color: var(--bright-text);
}

.file-stats {
  justify-content: center;
}

.file-name {
  justify-content: flex-end;
}

.time {
  justify-content: flex-end;
}

.unsaved {
  text-decoration: underline;
}

.ql-container {
  font-family: var(--font-stack);
  border: none !important;
}

.ql-toolbar,
.ql-tooltip {
  display: none;
}

.ql-editor {
  padding-bottom: 0;
  font-weight: 400;
  tab-size: 2;
  line-height: 1.5rem;
}

.ql-editor blockquote {
  border-left: 4px solid 1(--gray-2) !important;
}

.ql-editor pre {
  font-size: 12px;
  font-family: var(--font-stack-mono);
}

.ql-snow .ql-editor pre.ql-syntax {
  background-color: var(--input-border);
  color: var(--editor-text);
}

.ql-editor ul,
.ql-editor ol {
  padding-left: 0;
}

.ql-editor ul > li::before,
.ql-editor ul li::before {
  content: '\2022 ' !important; /* • */
}

.ql-editor ul li.ql-indent-1::before {
  content: '- ' !important; /* - */
}

.ql-editor ul li.ql-indent-2::before {
  content: '\21B3 ' !important; /* ↳ */
}

.ql-editor ul li.ql-indent-3::before {
  content: '\203A ' !important; /* ○ */
}

.ql-editor ul li.ql-indent-4::before {
  content: '\25A1 ' !important; /* □ */
}

.ql-editor hr {
  border: none;
  background-color: var(--separator);
  width: 100%;
  height: 1px;
}

@keyframes highlight {
  0% {
    background-color: transparent;
    color: var(--text);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
