:root {
  --background: "#222";
  --f_high: "#fff";
  --f_med: "#777";
  --f_low: "#444";
  --f_inv: "#000";
  --b_high: "#000";
  --b_med: "#affec7";
  --b_low: "#000";
  --b_inv: "#affec7";
}

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  -webkit-app-region: drag;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea,
.ql-editor,
.sidebar ol {
	-webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: var(--b_low);
  color: var(--f_med);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', sans-serif !important;
  background: var(--background);
  color: var(--f_high);
  font-size: 12px;

  min-height: 100vh;
  min-width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

aside {
  color: var(--f_med);
  width: 225px;
  max-width: 225px;
  min-width: 225px;
  max-height: 100vh;
  user-select: none;
  overflow: scroll;
}

/* aside:after {
  content: "";
  position: absolute;
  left: 225px;
  top: 50px;
  width: 2px;
  height: 90vh;
  border-right: 1px solid var(--f_low);
} */

.sidebar {
  padding: 50px 20px;
  line-height: 2.5em;
  font-size: 12px;
}

.sidebar ol {
  list-style-type: none;
}

.tree-view ul {
  list-style-type: none;
}

.tree-view ul li ul {
  margin-left: 10px;
}

.tree-view > ul > li > div > span:first-child {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 3px;
}

.name span {
  padding-left: 2px;
}

.tree-view .directory, .tree-view .file {
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.project span {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 3px;
}

.sidebar i {
  padding-right: 5px;
}

.active {
  color: var(--f_high);
}

main {
  flex-grow: 2;
  max-height: 100vh;
  margin: 50px 50px 20px 50px;
  display: flex;
  flex-direction: column;
}

.footer {
  font-family: Consolas;
  color: var(--f_med) !important;
  display: block;
  line-height: 40px;
  overflow: hidden;
  margin: 0 inherit;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.footer b {
  color: var(--f_high);
}

.ql-editor {
  max-width: 750px;
}

.ql-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', sans-serif !important;
  border: none !important;
}

.ql-toolbar, .ql-tooltip {
  display: none;
}

.ql-editor blockquote {
  border-left: 4px solid var(--f_high) !important;
}

.ql-snow .ql-editor pre.ql-syntax {
  background-color: var(--b_low);
  color: var(--f_high);
}

.ql-editor ul > li::before,
.ql-editor ul li:before {
  content: '\2022 ' !important; /* • */
}

.ql-editor ul li.ql-indent-1:before {
  content: '- ' !important; /* - */
}

.ql-editor ul li.ql-indent-2:before {
  content: '\21B3 ' !important; /* ↳ */
}

.ql-editor ul li.ql-indent-3:before {
  content: '\203A ' !important; /* ○ */
}

.ql-editor ul li.ql-indent-4:before {
  content: '\25A1 ' !important; /* □ */
}
